<md-dialog layout="column" layout-align="start stretch" style="width: 60%; height: 100%">
    <div flex='10' layout layout-align="start stretch" class="dialog-heading">
        <div flex layout layout-align="center center"> Edit your own content </div>
        <div flex></div>
        <div flex="10" layout layout-align="end center">
            <md-button class="md-icon-button" ng-click="Close()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </div>
    <div flex class="dialog-content" layout="column" layout-align="start stretch" layout-padding>
        <div flex="90" layout="column" layout-align="start stretch" class="scroll">
            <div flex="none" layout="row" layout-align="start stretch" ng-repeat="title in data" class="content-wrapper">
                <div flex="90" layout="column" layout-align="start stretch">
                    <div flex layout="row" layout-align="start stretch" class="input-div">
                        <div flex="30" layout layout-align="start stretch" class="header" layout-padding>
                            <div flex layout layout-align="end center"><span style="color: red">*</span> Title</div>
                        </div>
                        <div flex layout layout-align="start stretch">
                            <input flex="none" type="text" ng-model="title.title" layout-align="start center">
                        </div>
                    </div>
                    <div flex="none" flex-setter height-in-percent="1"></div>
                    <div flex layout="row" layout-align="start stretch" class="textarea-div">
                        <div flex="30" layout layout-align="start stretch" class="header" layout-padding>
                            <div flex layout layout-align="end center"><span style="color: red">*</span> Title Description</div>
                        </div>
                        <div flex layout layout-align="start stretch">
                            <textarea flex="none" ng-model="title.body" layout-align="start center"></textarea>
                        </div>
                    </div>
                    <div flex="none" flex-setter height-in-percent="1"></div>
                    <div flex layout="row" layout-align="start stretch" class="input-div">
                        <div flex="30" layout layout-align="start stretch" class="header" layout-padding>
                            <div flex layout layout-align="end center"> Background Image </div>
                        </div>
                        <div flex layout layout-align="start center">
                            <input flex="none" type="file" ng-model="title.image" layout-align="start center">
                        </div>
                    </div>
                </div>
                <div flex="10"></div>
            </div>
            <div flex="10" layout layout-align="start stretch">
                <div flex></div>
                <div flex layout layout-align="start stretch">
                    <md-button flex class=" background--red" ng-click="AddNewContent()"> Add New Content </md-button>
                </div>
                <div flex></div>
            </div>
        </div>
        <div flex="10" layout layout-align="end stretch">
            <div flex></div>
            <div flex="10" layout layout-align="end stretch">
                <md-button ng-click="Close()"> Cancel </md-button>
            </div>
            <div flex="10" layout layout-align="end stretch">
                <md-button class="md-raised background--red"> Update </md-button>
            </div>
        </div>
    </div>
</md-dialog>
