<md-dialog layout="column" layout-align="start stretch" style="width: 100%; height: 100%">
    <div flex='10' layout layout-align="start stretch" class="dialog-heading"> 
        <div flex layout layout-align="center center"> Edit your own content </div>
    </div>
    <div flex class="dialog-content" layout="column" layout-align="start stretch" layout-padding>
        <div flex="90" layout="column" layout-align="start stretch" class="scroll">
            
        </div>
        <div flex="10" layout layout-align="end stretch">
            <div flex></div>
            <div flex="10" layout layout-align="end stretch">
                <md-button> Cancel </md-button>
            </div>
            <div flex="10" layout layout-align="end stretch">
                <md-button class="md-raised submit-button" ng-click="UpdateProcessDetails()"> Update </md-button>
            </div>
        </div>
    </div>
</md-dialog>