<div class="site-drilldown wrapper">
    <div class="content">
        <div class="layer-content" flex layout="column" layout-align>
            <div class="header" flex="15" layout layout-align="center center"><span>{{DrilldownData.title}}</span></div>
            <div class="body" flex layout="column" layout-align layout-padding>
                <div flex="10" layout layout-align="end stretch">
                    <md-button class="md-raised" ng-click="EditVisionMissionData(DrilldownData, $event)"> Edit Content </md-button>
                </div>
                <div flex="30" layout layout-align ng-repeat="data in DrilldownData.body">
                    <div flex="30" flex-xs="0"></div>
                    <div class="box-container" flex layout="column" layout-align>
                        <div class="subtitle text-center" flex layout layout-align><span layout layout-align>{{data.description}}</span></div>
                    </div>
                    <div flex="30" flex-xs="0"></div>
                </div>
                <div flex></div>
            </div>
        </div>
    </div>
</div>
