<div flex layout layout-align>
	<!-- <div flex="5"></div> -->
	<div flex layout="column" layout-align>
		<div class="site-body wrapper">
			<!-- start:overview -->

			<div id="overview" class="section-overview">
				<div class="section-overview layer-wrapper">
					<div class="section-overview layer-content" flex layout="column" layout-align>
						<div layout layout-align="end stretch"  ng-if="user != null">
							<div flex="90" flex-sm="85" flex-xs="85" layout layout-align="center center"></div>
							<div flex layout layout-align="center center">
								<md-button class="md-raised" hide show-gt-md flex ng-click="EditTitle(PageData[0].content[0], $event)"> Edit Content </md-button>
								<md-button class="md-raised" hide show-sm show-xs show-md flex ng-click="EditTitle(PageData[0].content[0], $event)"> <i class="fa fa-edit"></i> </md-button>
							</div>
						</div>
						<div class="section-overview-carousel" flex layout layout-align  ng-repeat="data in PageData[0].content[0]" ng-if="isCurrentIndex($index)" ng-style="{'background-image': 'url({{data.image}})'}">
							<div flex="30" flex-md="25" flex-sm="5" flex-xs="0"></div>
							<div flex layout="column" layout-align>
								<div class="" flex layout="column" layout-align="center center">
									<div flex layout="column" layout-align="center center">
										<span layout layout-align="center center" class="header">{{data.title}}</span>
									<!-- </div>
									<div flex layout layout-align="center center"> -->
										<span layout layout-align="center center" class="subheader">{{data.body}}</span>
									</div>
								</div>
							</div>
							<div flex="30" flex-md="25" flex-sm="5" flex-xs="0"></div>
						</div>
						<!-- <div flex></div> -->
					</div>
				</div>
			</div>
			<!-- end:overview -->

			<!-- start:about -->
			<div id="aboutus" class="section-about">
				<div class="section-about layer-back">
					<div class="section-about layer-content" flex layout="column" layout-align>
						<div flex="30" flex-md="20" flex-sm="10" flex-xs="5" layout layout-align="center center"><span class="header"><text class="dark-grey text">about </text> <text class="red text">us</text></span></div>
						<div flex layout-sm="row" layout-xs="column" layout layout-align layout-padding>
							<div flex="10" flex-md="5" flex-sm="10" flex-xs="0"></div>
							<div flex layout layout-align ng-repeat="x in PageData[1].content">
								<div class="box-container" flex layout="column" layout-align>
									<div class="" flex layout layout-align></div>
									<div class="title dark-grey text" flex="20" flex-sm="30" flex-xs="40" layout layout-align="center center" ng-click="GoToDrilldown(x,x.link)"><span>{{x.title}}</span></div>
								</div>
							</div>
							<div flex="10" flex-md="5" flex-sm="10" flex-xs="0"></div>
						</div>
						<div flex="15" flex-sm="5" flex-xs="5"></div>
					</div>
				</div>
				<div class="section-about layer-back">
					<div class="section-about layer-content" flex layout="column" layout-align>
						<div flex="30" flex-md="20" flex-sm="10" flex-xs="5" layout layout-align="center center"><span class="header"><text class="dark-grey text">about </text> <text class="red text">us</text></span></div>
						<div flex layout-sm="row" layout-xs="column" layout layout-align layout-padding>
							<div flex="10" flex-md="5" flex-sm="10" flex-xs="0"></div>
							<div flex layout layout-align ng-repeat="x in PageData[1].content">
								<div class="box-container" flex layout="column" layout-align ng-click="GoToDrilldown(x,x.link)">
									<div flex></div>
									<!-- <div class="overlay"></div> -->
									<div class="title dark-grey text" flex="20" flex-sm="30" flex-xs="40" layout layout-align="center center"><span>{{x.title}}</span></div>
								</div>
							</div>
							<div flex="10" flex-md="5" flex-sm="10" flex-xs="0"></div>
						</div>
						<div flex="15" flex-sm="5" flex-xs="5"></div>
					</div>
				</div>
			</div>
			<!-- end:about -->

			<!-- start:contact -->
			<div id="contactus" class="section-contact">
				<div class="section-contact layer-back">
					<div class="section-contact layer-content" flex layout="column" layout-align>
						<!-- <div flex="10" layout layout-align="end stretch"> -->
							<!-- <div flex="90" flex-sm="85" flex-xs="85" layout layout-align="center center"></div> -->
							<!-- <div flex layout layout-align="center center">
								<md-button class="md-raised" hide show-gt-sm flex ng-click="EditContact(PageData[2], $event)"> Edit Content </md-button>
								<md-button class="md-raised" hide show-sm show-xs flex ng-click="EditContact(PageData[2], $event)"> <i class="fa fa-edit"></i> </md-button>
							</div> -->
						<!-- </div> -->
						<div flex layout layout-align>
							<div class="contact-container" flex layout="column" layout-align>
								<div flex="25" flex-md="20" flex-sm="10" flex-xs="5" layout layout-align="center center"><span class="header" style="font-size:calc(25px + 1vw);"><text class="dark-grey text">contact </text> <text class="red text">us</text></span></div>
								<div flex layout layout-align>
									<div flex="20" flex-sm="5" flex-xs="0"></div>
									<div flex layout="column" layout-align layout-padding>
										<div flex="20" flex-sm="30" flex-xs="30" layout layout-sm="column" layout-xs="column" layout-align layout-padding>
											<div flex layout layout-align>
												<div flex layout layout-align="start center">
													<input class="custom-input" type="text" placeholder="name" required>
												</div>
											</div>
											<div flex layout layout-align>
												<div flex layout layout-align="start center">
													<input class="custom-input" type="text" placeholder="email" required>
												</div>
											</div>
										</div>
										<div flex layout layout-align layout-padding>
											<div flex layout layout-align>
												<textarea class="custom-input" type="textarea" maxlength="3000" placeholder="talk to us"></textarea>
											</div>
										</div>
										<div flex="20" layout layout-align layout-padding>
											<div flex layout layout-align="center center">
												<button class="custom-input"> send </button>
											</div>
										</div>
									</div>
									<div flex="20" flex-sm="5" flex-xs="0"></div>
								</div>
								<!-- <div flex="5"></div> -->
							</div>
						</div>
						<!-- landing footer -->
						<div class="icon-label" style="background: rgba(244, 67, 54, .95)" flex-lg="20" flex-xl="20" flex-xs="25" flex-sm="25" flex-md="25"
							layout="column" layout-align="start stretch">
							<div flex layout="row" layout-align="center stretch">
								<div flex="30" hide show-gt-sm flex></div>
								<div flex layout="row" layout-align="start stretch" layout-padding>
									<div flex layout="column" layout-align="center end">
										<span flex="none" class="website-footer-details" layout layout-align="center center">{{PageData[2].content[0].telephone}}</span>
										<span flex="none" class="website-footer-details" layout layout-align="center center">{{PageData[2].content[0].mobile}}</span>
										<span flex="none" class="website-footer-details" layout layout-align="center center">{{PageData[2].content[0].email}}</span>
										<span flex="none" class="website-footer-details" layout layout-align="center center">{{PageData[2].content[0].address}}</span>
									</div>
									<div flex layout layout-align="center start">
										<img flex="none" src="public/assets/img/logo/client/client-logo.png" width="125">
									</div>
								</div>
								<div flex="30" hide show-gt-sm flex></div>
							</div>
							<div flex="15" class="website-footer" layout layout-align="center center">
									&copy; Frank and David Snack Food Corporation | All Rights Reserved
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end:contact -->
		</div>
	</div>
	<!-- <div flex="5"></div> -->
</div>
