<div class="site-drilldown wrapper">
    <div class="content" style="background:rgba(244, 67, 54, .85)">
        <div style="height: 100%;" layout="column" layout-align>
            <div flex="15" layout layout-align layout-padding>
                <div flex layout layout-align="start stretch">
                    <span flex-sm="20" flex-xs="20" flex-gt-sm></span>
                    <span flex 
                        style="height: 100%; font-size: calc(14px + 1vw); color: rgba(255,255,255,1); font-weight: bolder; letter-spacing: .25vw; text-transform: uppercase;" 
                        layout layout-align="center center" layout-padding>
                        {{DrilldownData.title}}
                        <span ng-if="session != null">
                            <md-button class="md-raised" hide show-gt-md flex ng-click="EditProducts(DrilldownData, $event)"> Edit Content </md-button>
                            <md-button class="md-raised" hide show-md show-sm show-xs flex ng-click="EditProducts(DrilldownData, $event)"> <i class="fa fa-edit"></i> </md-button>
                            <!-- <md-button class="md-raised" flex ng-click="EditProducts(DrilldownData, $event)"> Edit Content </md-button> -->
                        </span>
                    </span>
                    <span flex-sm="20" flex-xs="20" flex-gt-sm ></span>
                    
                </div>
            </div>
            <div class="" flex="" layout layout-align ng-if="displayProduct">
                <div flex="5"></div>
                <div flex="25" layout="column" layout-align>
                    <div class="product-cat--header" flex="10" layout layout-align="start center" layout-padding style="font-size: calc(10px + 0.75vw); padding:0px"><span class="light-grey text">CATEGORY</span></div>

                    <div layout="column" layout-align ng-repeat="prodCat in ProductCategory">
                        <div class="product-cat" flex layout layout-align="start center" 
                            layout-padding ng-click="SetSelectedProductCategory(prodCat.category)" 
                            ng-class="{'product-cat--active':SelectedProductCategory===prodCat.category}">
                            <span class="">{{prodCat.category}}</span>
                        </div>
                    </div>

                </div>
                <div flex="none" flex-setter width-in-percent="1"></div>
                <div class="product-preview-wrapper" flex layout layout-align>
                    <div class="" flex layout layout-align>
                        <div class="grid-list scroll" flex layout-align layout-padding>
                            <div class="grid-list-row" flex layout layout-align ng-repeat="x in Products">
                                <div class="grid-list-item" flex layout layout-align ng-repeat="(l,m) in x" ng-if="SelectedProductCategory=='all'||SelectedProductCategory==x[$index].category">
                                    <div class="grid-list-box" flex layout="column" layout-align>
                                        <div class="body" flex layout layout-align ng-style="{'background-image':'url({{m.image}})'}"> <!--ng-style="{'background-image':'url({{m.image}})'}"-->
                                            <!-- <img src="{{m.image}}" width="200"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="5"></div>
            </div>
            <div flex="20"></div>
        </div>
    </div>
</div>
